.welcome {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.welcome h2 {
  color: #33A0BD;
  font-size: 80px;
  text-align: center;
}

.welcome a {
  border: 1px solid #FFF;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 1px;
  display: inline-block;
  align: center;
  color: #FFF;
}

.welcome a:hover {
  background: #2153BD;
  color: #FFF;
  transition: 0.4s;
  border: 1px solid #2153BD;
}
